## HW4

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import linear_model, metrics, model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

### Read Data

In [2]:
train_name = 'dota2Train.csv'
data_train = pd.read_csv(train_name, sep=',')
test_name = 'dota2Test.csv'
data_test = pd.read_csv(test_name, sep=',')
data_train.head(10)

,win,id,modee,type,1,2,3,4,5,6,...,104,105,106,107,108,109,110,111,112,113
0,-1,223,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
4,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0
5,1,122,2,3,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,-1
6,1,224,8,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,-1,227,8,3,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,-1,111,2,3,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,-1,151,2,2,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

### Data Preparation

In [3]:
data_train = data_train.drop(['id'], axis=1)
data_test = data_test.drop(['id'], axis=1)
data_train.head(10)

,win,modee,type,1,2,3,4,5,6,7,...,104,105,106,107,108,109,110,111,112,113
0,-1,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2,0,0,0,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,2,2,0,0,0,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2,2,0,0,0,0,0,0,-1,...,-1,0,0,0,0,0,0,0,0,0
4,-1,2,3,0,0,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
5,1,2,3,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,-1
6,1,8,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,-1,8,3,0,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,-1,2,3,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,-1,2,2,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
x_train = data_train.loc[:, data_train.columns != 'win']
y_train = data_train['win']
x_test = data_test.loc[:, data_test.columns != 'win']
y_test = data_test['win']
#data_train['1'].value_counts()

In [5]:
data_train2 = data_train[data_train.modee == 2]
#data_test2 = data_test.drop(['mode', 'type'], axis=1)
data_train2.head(10)
data_train2['modee'].value_counts()

2    71897
Name: modee, dtype: int64

In [6]:
data_train3 = data_train2[data_train2.type == 2]
#data_test2 = data_test.drop(['mode', 'type'], axis=1)
data_train3.head(10)
len(data_train3)

41229

In [7]:
data_train3 = data_train3.drop(['modee', 'type'], axis=1)
data_test3 = data_test.drop(['modee', 'type'], axis=1)
#data_train3 = data_train3
#data_test3 = data_test
data_train3.head()
x_train3 = data_train3.loc[:, data_train3.columns != 'win']
y_train3 = data_train3['win']
x_test3 = data_test3.loc[:, data_test3.columns != 'win']
y_test3 = data_test3['win']

### Logistic Regression

In [8]:
clf3 = LogisticRegression(solver='lbfgs').fit(x_train3, y_train3)
clf3.fit(x_train3, y_train3)

lr_acc3 = metrics.accuracy_score(y_test3, clf3.predict(x_test3))
print('LogisticRegression accuracy: %s' % lr_acc3)

LogisticRegression accuracy: 0.5939382164367593

### improvement test

In [9]:
data_test4 = data_test[data_test.modee == 2]
data_test4 = data_test[data_test.type == 2]
data_test4 = data_test4.drop(['modee', 'type'], axis=1)
x_test4 = data_test4.loc[:, data_test4.columns != 'win']
y_test4 = data_test4['win']

In [10]:
clf4 = LogisticRegression(solver='lbfgs').fit(x_train3, y_train3)
clf4.fit(x_train3, y_train3)

lr_acc4 = metrics.accuracy_score(y_test4, clf4.predict(x_test4))
print('LogisticRegression accuracy: %s' % lr_acc4)

LogisticRegression accuracy: 0.5954805856142584